/* app styles */
.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space {
  justify-content: space-between;
}

.mt-1 {
  margin-top: 1vh;
}

.mt-2 {
  margin-top: 2vh;
}

.mt-3 {
  margin-top: 3vh;
}

.mt-4 {
  margin-top: 4vh;
}

.mt-5 {
  margin-top: 5vh;
}

.mb-1 {
  margin-bottom: 1vh;
}

.mb-2 {
  margin-bottom: 2vh;
}

.mb-3 {
  margin-bottom: 3vh;
}

.mb-4 {
  margin-bottom: 4vh;
}

.mb-5 {
  margin-bottom: 5vh;
}

.ml-1 {
  margin-left: 1vw;
}

.ml-2 {
  margin-left: 2vw;
}

.ml-3 {
  margin-left: 3vw;
}

.ml-4 {
  margin-left: 4vw;
}

.ml-5 {
  margin-left: 5vw;
}

.mr-1 {
  margin-right: 1vw;
}

.mr-2 {
  margin-right: 2vw;
}

.mr-3 {
  margin-right: 3vw;
}

.mr-4 {
  margin-right: 4vw;
}

.mr-5 {
  margin-right: 5vw;
}

.pt-1 {
  padding-top: 1vh;
}

.pt-2 {
  padding-top: 2vh;
}

.pt-3 {
  padding-top: 3vh;
}

.pt-4 {
  padding-top: 4vh;
}

.pt-5 {
  padding-top: 5vh;
}

.pb-1 {
  padding-bottom: 1vh;
}

.pb-2 {
  padding-bottom: 2vh;
}

.pb-3 {
  padding-bottom: 3vh;
}

.pb-4 {
  padding-bottom: 3vh;
}

.pb-5 {
  padding-bottom: 4vh;
}

.pl-1 {
  padding-left: 1vw;
}

.pl-2 {
  padding-left: 2vw;
}

.pl-3 {
  padding-left: 3vw;
}

.pl-4 {
  padding-left: 4vw;
}

.pl-5 {
  padding-left: 5vw;
}

.pr-1 {
  padding-right: 1vw;
}

.pr-2 {
  padding-right: 1vw;
}

.pr-3 {
  padding-right: 1vw;
}

.pr-4 {
  padding-right: 1vw;
}

.pr-5 {
  padding-right: 1vw;
}
/* navbar style */
.bg-blue {
  background-color: #39569c;
}

.text-white {
  color: white;
}

/* dashboard style */
.bg-grey {
  background-color: #c3c9cd;
}
.text-grey {
  color: #8e949b;
}

/* content style */
.bg-white {
  background-color: white;
}

.cards {
  width: 14vw;
  height: 5vw;
  border-radius: 3px;
  border: 1px solid #fbfbfb;
  box-shadow: 5px 10px 8px 10px #fbfbfb;
}

/* switch design */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* search box style */

.fa-search {
  color: white;
}

.bg-bar {
  background-color: #3b6ab8;

  border: none;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 40vh;
}

.bg-bar::placeholder {
  color: #c3c9cd;
}

/* button style */

.bg-green {
  background-color: #5dc389;
}

.button-border {
  border: 1px solid #75a6eb;
}

.bg-trans {
  background-color: transparent;
}

.no-border {
  border: none;
}

.button-border2 {
  border: 1px solid #ececec;
}

.input-bg {
  background-color: #f3f3f3;
}

.input-border {
  border: 1px solid #f3f3f3;
}

.text-blue {
  color: #4e70b4;
}

.total {
  z-index: 1;
  opacity: 1;
  margin-bottom: -8px;
  margin-left: 1vw;
}

.val::placeholder {
  color: #c3c9cd;
}

.val {
  height: 5vh;
}
