/* app styles */
.row {
  flex-direction: row;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space {
  justify-content: space-between;
}

.ml-1 {
  margin-left: 1vw;
}

.ml-2 {
  margin-left: 2vw;
}

.ml-3 {
  margin-left: 3vw;
}

.ml-4 {
  margin-left: 4vw;
}

.ml-5 {
  margin-left: 5vw;
}

.mr-1 {
  margin-right: 1vw;
}

.mr-2 {
  margin-right: 2vw;
}

.mr-3 {
  margin-right: 3vw;
}

.mr-4 {
  margin-right: 4vw;
}

.mr-5 {
  margin-right: 5vw;
}

.pt-1 {
  padding-top: 1vh;
}

.pt-2 {
  padding-top: 2vh;
}

.pt-3 {
  padding-top: 3vh;
}

.pt-4 {
  padding-top: 4vh;
}

.pt-5 {
  padding-top: 5vh;
}

.pb-1 {
  padding-bottom: 1vh;
}

.pb-2 {
  padding-bottom: 2vh;
}

.pb-3 {
  padding-bottom: 3vh;
}

.pb-4 {
  padding-bottom: 3vh;
}

.pb-5 {
  padding-bottom: 4vh;
}
/* navbar style */
.bg-blue {
  background-color: #39569c;
}

.text-white {
  color: white;
}

/* dashboard style */
.bg-grey {
  background-color: #c3c9cd;
}
.text-grey {
  color: #8e949b;
}

/* content style */
.bg-white {
  background-color: white;
}
